<IfModule mod_rewrite.c>

	#RewriteBase /

	# handle file versioning
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)\.(\d+)\.(bmp|css|cur|gif|ico|jpe?g|js|png|svgz?|webp)$ $1.$3 [L]

	ErrorDocument 404 /404.html

	#RewriteCond %{REQUEST_FILENAME}.html -f
	#RewriteRule !^(.+)\.html$ %{REQUEST_FILENAME}.html [L]

	#RewriteCond %{REQUEST_FILENAME}.xml -f
	#RewriteRule !^(.+)\.xml$ %{REQUEST_FILENAME}.xml [L]


	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME}\.html -f 
	RewriteRule ^(.*)$ $1.html

	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME}\.xml -f 
	RewriteRule ^(.*)$ $1.xml

</IfModule>