/* jasmint */
/* reset **********************************************************************/

@font-face {
	font-family: 'Museo Slab 500';
	font-style: normal;
	font-weight: normal;
	src: local('Museo Slab 500'), local('Museo Slab 500'), url(museo-slab-500.woff) format('woff');
}

article,
aside,
details,
figcaption,
figure, 
footer,
header,
menu,
nav,
section {
	display: block;
}

html {
	background-color: #fff;
	color: #333;
	font-family: "Georgia", serif;
	/*font-family: "Open Sans", sans-serif;*/
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	border-left: 3px double #ddd;
	margin: 2.5em 0 2.5em 2.5em;
	padding: 1em 0 1em 2.5em;
	max-width: 34.44em;
	/*margin: 0 auto;*/
}

body:after {
	content: "";
	display: table;
	clear: both;
}

::-moz-selection { 
	background: #069;
	color: #eee;
}
::selection { 
	background: #069;
	color: #eee;
}


*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	color: #111;
	/*font-family: "Museo Slab 500", sans-serif;*/
	/*font-family: "Roboto Slab", sans-serif;*/
	font-weight: normal;
	line-height: 1.25em;
	margin: 2em 0 1em 0;
}

h1 {
	font-size: 2em;
	margin: 0 0 .5em 0;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

a {
	color: #069;
	text-decoration: none;
	transition: color .2s ease;
}

a:visited {
	/*color: #fff;*/
}

a:active,
a:hover,
a:focus {
	color: #333;
	border: none;
	outline: 0;
	text-decoration: none;
}

p {
	line-height: 1.5em;
	margin: 0 0 1em 0;
}

article {
	text-align: left;
}

blockquote,
q {
	color: #666;
	/*font-size: 1.5em;*/
	/*font-style: italic;*/
	quotes: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

blockquote {
	/*border-left: 2px solid #999;*/
	line-height: 1.25em;
	margin: 2em 0;
	padding: 0 0 0 2em;
	position: relative;
}

blockquote p {
	margin: 1em;
	text-indent: 0;
}

/*blockquote:before,*/
blockquote:after,
/*q:before,*/
q:after {
	content: "";
	content: none;
}

blockquote:before,
q:before {
	color: #069;
	content: "\0201C";
	font-family: "Georgia", serif;
	font-size: 3.5em;
	font-style: normal;
	position: absolute;
	top: .25em;
	left: 0;
	font-weight: bold;
}

blockquote cite {
	color: #000;
	display: block;
	font-style: normal;
	font-weight: normal;
	margin: 1em 0 0 1em;
}

blockquote cite:before {
	content: "\2013";
	padding-right: 2px;
}

blockquote em,
blockquote i {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: bold;
}

ol,
ul {
	line-height: 1.5em;
	padding: 0;
	margin: 0 0 1em 1em;
}

ul {
	list-style-type: disc;
}

b,
strong {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

big {
	font-size: 1.25em;
}

small {
	font-size: .75em;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

address {
	font-style: italic;
	margin-bottom: 1em;
}

abbr[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff6;
}

code,
kbd,
pre,
samp {
	background-color: #eee;
	color: #333;
	font-family: monospace;
	font-size: .75em;
	overflow: auto;
/*	white-space: pre;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;*/
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

pre {
	line-height: 1.75;
	margin: 1em 0;
	padding: 1em;

		/*background-color: #fff;*/
	border-left: 2px solid #069;
}

code {
	padding: 2px 4px;
}

pre code {
	font-size: 1em;
	padding: 0;
}

table {
	border-top: 1px dotted #eee;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 1.5;
	margin: 0 0 1em;
	width: 100%;
}

th {
	background-color: #eee;
	border: 1px dotted #eee;
	font-weight: bold;
}

td {
	border: 1px dotted #eee;
}

th,
tr,
td {
	padding: .5em;
}

hr {
	background-color: #ddd;
	border: none;
	height: 1px;
	margin: 2em 4em;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	/*padding: 0 2em;*/
}

del {
	color: #999;
}

ins {
	/* fixme */
}

figure {
	margin: 1em 40px;
}

img {
	border: 0;
	max-width: 100%;
}

/* header *********************************************************************/

.menu {
	list-style: none;
	margin: 0 0 3em 0;
}

.menu a {
	color: #999;
	margin-right: 1em;
}

.menu a:hover {
	color: #069;
	text-decoration: none;
}

.site-title {
	border: none;
	display: inline-block;
	font-family: "Museo Slab 500";
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.site-title span {
	/*display: block;*/
}

.site-title:hover {
	color: #000;
}

.entries {
	margin: 0;
}

.entry-date,
.entry-title {
	float: left;
	font-size: .8888em;
}

.entry-title {
	display: block;
	/*margin-bottom: 1em;*/
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;

	line-height: 2em;
	width: 85%;
}

.entry-title:before {
	color: #ddd;
	content: "–";
	margin-right: .5em;
}

.entry-date {
	border-right: 1px solid #ddd;
	color: #666;
	padding: 0 1em 0 0em;
	line-height: 2em;
	width: 15%;
	text-align: right;
}

.entries-year {
	display: inline-block;
}


.post-meta {
	color: #666;
	font-style: italic;
	margin-top: 3em;
}
.post-date {
	color: #666;
}

/*footer:before {
	background-color: #fff;
	color: #069;
	content: "* * *";
	display: block;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}*/

.c     { color: #998; font-style: italic }
.err   { color: #a61717; background-color: #e3d2d2 }
.k     { font-weight: bold }
.o     { font-weight: bold }
.cm    { color: #998; font-style: italic }
.cp    { color: #999; font-weight: bold }
.c1    { color: #998; font-style: italic }
.cs    { color: #999; font-weight: bold; font-style: italic }
.gd    { color: #000; background-color: #fdd }
.gd .x { color: #000; background-color: #faa }
.ge    { font-style: italic }
.gr    { color: #a00 }
.gh    { color: #999 }
.gi    { color: #000; background-color: #dfd }
.gi .x { color: #000; background-color: #afa }
.go    { color: #888 }
.gp    { color: #555 }
.gs    { font-weight: bold }
.gu    { color: #aaa }
.gt    { color: #a00 }
.kc    { font-weight: bold }
.kd    { font-weight: bold }
.kp    { font-weight: bold }
.kr    { font-weight: bold }
.kt    { color: #458; font-weight: bold }
.m     { color: #099 }
.s     { color: #d14 }
.na    { color: #008080 }
.nb    { color: #0086B3 }
.nc    { color: #458; font-weight: bold }
.no    { color: #008080 }
.ni    { color: #800080 }
.ne    { color: #900; font-weight: bold }
.nf    { color: #900; font-weight: bold }
.nn    { color: #555 }
.nt    { color: #000080 }
.nv    { color: #008080 }
.ow    { font-weight: bold }
.w     { color: #bbb }
.mf    { color: #099 }
.mh    { color: #099 }
.mi    { color: #099 }
.mo    { color: #099 }
.sb    { color: #d14 }
.sc    { color: #d14 }
.sd    { color: #d14 }
.s2    { color: #d14 }
.se    { color: #d14 }
.sh    { color: #d14 }
.si    { color: #d14 }
.sx    { color: #d14 }
.sr    { color: #009926 }
.s1    { color: #d14 }
.ss    { color: #990073 }
.bp    { color: #999 }
.vc    { color: #008080 }
.vg    { color: #008080 }
.vi    { color: #008080 }
.il    { color: #099 }

/* media queries *************************************************************/

@media only screen and (max-device-width: 600px) {

	body {
		border: none;
		font-size: 16px;
		margin: 1em;
		padding: 0;
	}
}